a {
    text-decoration: none;
    float: right;
    color: maroon;
}
a:hover {
    text-decoration: underline;
}
form {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}
#AGS {
    color:white;
    background-color: blue;
    float: left;
}
#left {
    float: left;
}
#round {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px rgb(138, 134, 134);
    padding:5px;
    margin-bottom: 5px;
}