a {
    text-decoration: none;
    float: right;
    color: maroon;
}
a:hover {
    text-decoration: underline;
}
form {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}
#AGS {
    color:white;
    background-color: blue;
}