body {
    font-family: arial, sans-serif;
}
a {
    text-decoration: none;
    float: right;
    color: maroon;
}
a:hover {
    text-decoration: underline;
}
form {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 20%;    
    margin-left: 30%;
    margin-right: 30%;
}
#searchbutton {
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 14px;
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    min-width: 54px;
}
#AGS {
    color:white;
    background-color: #4d90fe;
    float: left;
    height: 30px;
    padding: 0 12px;
    box-shadow: none;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
}
#left {
    float: left;
    width: 100%;
}
.flex-container {
    display: flex;
    border-radius: 15px;
    border:solid 1px rgb(138, 134, 134);
    padding:5px;
    margin-bottom: 5px;
    min-width: 100%;
}